@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F7F7FE;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  margin-top: 64px;
  color: #6E728E;
}

.header__heading {
  font-size: 32px;
  text-align: center;
}

.header__toggle {
  display: flex;
  width: 239px;
  height: 32px;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.toggle__item {
  opacity: 0.5;
  font-size: 15px;
}

.main {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.main__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0px 20px 40px 0px rgba(212, 210, 244, 0.50);
  height: 453px;
  border-radius: 10px;
  width: 327px;
  padding: 31px 29px;
  margin-bottom: 32px;
}

.main__card--highlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);
  box-shadow: 0px 20px 40px 0px rgba(212, 210, 244, 0.50);
  height: 453px;
  border-radius: 10px;
  width: 327px;
  padding: 31px 29px;
  margin-bottom: 32px;
}

.card__heading {
  margin-bottom: 24px;
  color: #6E728E;
}

.card__heading--highlight {
  margin-bottom: 24px;
  color: #FFF;;
}

.card__price {
  color: #4A4D60;
  font-size: 72px;
  height: 71px;
  
}

.price-highlight {
  color: #FFF;
  font-size: 72px;
  height: 71px;
  
}
span {
  font-size: 40px;
  margin-right: 10px;
  position: relative;
  bottom: 10px;
  
}

.card__list {
  height: 156px;
  width: 269px;
  margin-top: 45px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__list--highlight {
  height: 156px;
  width: 269px;
  margin-top: 45px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list__item {
  list-style: none;
  height: 52px;
  width: 100%;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6E728E;
  border-top: 1px solid #6e728e38;
}

.list__item--highlight {
  list-style: none;
  height: 52px;
  width: 100%;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  border-top: 1px solid #ffffff4a;
}

.card__cta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 269px;
  height: 44px;
  font-size: 13px;
  border-radius: 6px;
  flex-shrink: 0;
  text-transform: uppercase;
  background: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);
  color: #FFFFFF;
  cursor: pointer;
}
.card__cta--highlight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 269px;
  height: 44px;
  font-size: 13px;
  border-radius: 6px;
  flex-shrink: 0;
  text-transform: uppercase;
  background-color: #FFFFFF;
  color: #6D72DE;;
  cursor: pointer;
}

.last-item {
  border-bottom: 1px solid #6e728e38;
}
.list__item--highlight {
  border-bottom: 1px solid #ffffff4a;
}

.toggle__power-button {
  width: 56px;
  height: 32px;
  background-image: linear-gradient(#696fddb3,#A2A7F0 );
  border-radius: 32px;
}

.toggle__button {
  width: 27px;
  height: 27px;
  background-color: #FFF;
  display: block;
  cursor: pointer;
  position: relative;
  top: 2px;
  left: 26px;
  z-index: 1;
  border:1px solid #A2A7F0;
  border-radius: 32px;
  transition: .2s cubic-bezier(0.895, 0.07, 0.685, 0.68);
}

#power-button:checked + .toggle__button {
  left: 3px;
}
#power-button {
  display: none;
}


.hidden {
  display: none;
}



